<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css">
  <title>LST Theological Hour</title>
  
</head>
<body>
  <div id="display">
    <h1>Fr. Ralph B. Gehring Libray</h1>
    <h2 class="waiting blink">💳 Waiting for Card Tap...</h2>
    <h3>Library Entry System</h3>
  </div>

  <div style="position: fixed; bottom: 20px; right: 20px;">
  <a href="/download_attendance" 
     style="background-color: #00ff99; color: #000; padding: 10px 20px; 
            border-radius: 8px; font-weight: bold; text-decoration: none;">
    ⬇️ Download CSV
  </a>
</div>


<script src="/static/js/script.js"></script>
</body>
</html>
